.post-list{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100%;
} 
ul{
    width: 100%;
}
.infinite-scroll {
    width: 100%
}
.infinite-scroll-component{
    width: 100%;
}

.infinite-scroll-component__outerdiv {
    width: 100%;
}