.user-details-container{
    background-color: #383E42;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 12px;
}
.avatar{
    max-width: 205px;
    border-radius: 50%;
    overflow: hidden;
}
.user-details-top-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
.avatar-container {
    flex-shrink: 0; 
}
.logo-container{
    flex-grow: 1;
    text-align: center;
}
.user-info{
    font-size: 18px;
    margin-top: 10px;
}
.user-details-bootom-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.user-details-bootom-container-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}
.report{
    height: 30px;
}
.report:hover{
    cursor: pointer;
}
.report-buttons-box{
    display: flex;
    flex-direction: row;
}
.report-buttons{
    width: 140px;
    margin-right: 20px;
    background-color: #ffe98a;
    color: #383E42;
}
